mixin component(component)
    
        .card.mb-3.box-card(style="max-width: 2000px")
                .row.g-0.component-card 
                    .row.g-0 
                        .col-md-5

                        .col-md-7 
                            .card-body
                                        h5.card-title 
                                            strong= component.name
                                        -var route = component.name.toLowerCase().split(" ").join("")

                    

                    .row.g-0
                        
                        -var compoName = ["Separator","Side Plate","Plate Header","Tank Header","Cup Plate"]
                        each compo in compoName
                            if(component.name == compo)
                                each part in component.parts 
                                    .row.g-0
                                        .col-md-5
                                            img.mx-auto.d-block.picProp(src= part.detail.img, alt="")
                                        .col-md-7
                                            case compo
                                                when "Separator"
                                                    
                                                        ul
                                                            strong= part.detail.function
                                                            li Part No: 
                                                                span= part.detail.partNo
                                                            li Amount : 
                                                                span= part.amount
                                                        a.btn.btn-info(href=`/${route}/${part.detail._id}`) More Detail
                                                default 
                                                    ul 
                                                        strong= part.detail.side
                                                        li Part No : 
                                                            span= part.detail.partNo
                                                        li Amount : 
                                                            span= part.amount
                                                    a.btn.btn-info(href=`/${route}/${part.detail._id}`) More Detail
                                            //- p= "Hello7"
                                            //- p= part.detail.partNo 

                        -var compoNameSingle = ["Inner Fin Tube","Outer Fin","Cap","Joint"]
                        each compo in compoNameSingle
                            if(component.name == compo)
                                    .row.g-0
                                        .col-md-5
                                            img.mx-auto.d-block.picProp(src= component.detail.img, alt="")
                                        .col-md-7 
                                            //- p= component.detail.partNo
                                            case compo
                                                when "Inner Fin Tube"           
                                                    ul 
                                                        li Part No : 
                                                            span= component.detail.partNo
                                                        li Amount : 
                                                            span= component.amount
                                                            | 
                                                            span pcs
                                                    a.btn.btn-info(href=`/${route}/${component.detail._id}`) More Detail

                                                when "Outer Fin"
                                                    ul 
                                                        li Part No : 
                                                            span= component.detail.partNo
                                                        li Amount : 
                                                            span= component.amount
                                                            | 
                                                            span pcs
                                                        li Fin pitch : 
                                                            span= component.detail.pitch
                                                        li Fin wave : 
                                                            span= component.detail.wave
                                                        li Fin slit : 
                                                            span= component.detail.slit 
                                                        li Lenght : 
                                                            span= component.detail.length
                                                        li QR-Code : 
                                                            br
                                                            img(src="..." alt="qrCode")
                                                    a.btn.btn-info(href=`/${route}/${component.detail._id}`) More Detail

                                                when "Cap"
                                                    ul 
                                                        li Part No: 
                                                            span= component.detail.partNo
                                                        li Amount : 
                                                            span= component.amount
                                                    a.btn.btn-info(href=`/${route}/${component.detail._id}`) More Detail
                                                
                                                when "Joint"
                                                    ul 
                                                        li Part No: 
                                                            span= component.detail.partNo
                                                        li Joint Type: 
                                                            span= component.detail.type
                                                        li Amount : 
                                                            span= component.amount
                                                    a.btn.btn-info(href=`/${route}/${component.detail._id}`) More Detail