case component[0].partName
    when "Inner Fin Tube" 
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Length
                    th.component-part__table-header-img Picture
            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.length
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)
                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/innerfintube/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
            tbody.component-part__table-body
                form.addnewinnnerfintube 
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#length(type="text", name="length", placeholder="Input Property")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")

    when "Outer Fin"
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Fin Length
                    th.component-part__table-header-prob-1 Fin Pitch
                    th.component-part__table-header-prob-1 Fin Wave
                    th.component-part__table-header-prob-1 Fin Slit
                    th.component-part__table-header-img Picture

                    
            tbody.component-part__table-body   
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.length
                        td.component-part__table-item-prob-1= compo.pitch
                        td.component-part__table-item-prob-1= compo.wave
                        td.component-part__table-item-prob-1= compo.slit
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)

                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/outerfin/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
            tbody.component-part__table-body
                form.addnewouterfin
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#length(type="text", name="length", placeholder="Fin Length")
                        td.component-part__table-item
                            input.component-part__input-partNo#pitch(type="text", name="pitch" ,placeholder="Fin Pitch")
                        td.component-part__table-item
                            input.component-part__input-partNo#wave(type="text", name="wave" ,placeholder="Fin Wave")
                        td.component-part__table-item
                            input.component-part__input-partNo#slit(type="text", name="slit" ,placeholder="Fin Slit")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")

    when "Cup Plate"
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Side
                    th.component-part__table-header-img Picture

            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.side
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)
                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/cupplate/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
                          
            tbody.component-part__table-body
                form.addnewcupplate
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#side(type="text", name="side", placeholder="Input Cup Side")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")

    when "Separator"
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Function
                    th.component-part__table-header-img Picture

            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.func
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)
                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/separator/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
            tbody.component-part__table-body
                form.addseparator
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#function(type="text", name="func", placeholder="Function")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")

    when "Cap" 
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-img Picture
            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)

                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/cap/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
            tbody.component-part__table-body
                form.addcap
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")
    
    when "Joint"                    
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Type
                    th.component-part__table-header-img Picture
                    
            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.type
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)
                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/joint/update/${compo._id}`)   
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")
            tbody.component-part__table-body
                form.addjoint
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#type(type="text", name="type", placeholder="Type")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")
   
    default
        table.component-part__table
            thead.component-part__table-thead
                tr.component-part__table-row
                    th.component-part__table-header-no No
                    th.component-part__table-header-partno Part No
                    th.component-part__table-header-prob-1 Side
                    th.component-part__table-header-prob-1 Length
                    th.component-part__table-header-img Picture


            tbody.component-part__table-body 
                each compo,index in component 
                    tr.component-part__table-row 
                        td.component-part__table-item-no= index+1
                        td.component-part__table-item-partno= compo.partNo 
                        td.component-part__table-item-prob-1= compo.side
                        td.component-part__table-item-prob-1= compo.length
                        td.component-part__table-item-img
                            img.component-part__table-item-img-img(src=`${compo.img}`, alt=`${compo.partName}`)
                        td.component-part__table-header-edit 
                            ul.component-part__list-edit 
                                li.component-part__item-edit  
                                    a.component-part__link-edit(href=`/${component[0].partName.toLowerCase().split(" ").join("")}/update/${compo._id}`)  
                                        button.component-part__btn-edit
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil")
                                li.component-part__item-edit  
                                    a.component-part__link 
                                        button.component-part__btn-delete
                                            svg.component-part__edit-component-icon
                                                use(xlink:href="img/Icon/symbol-defs.svg#icon-cross")                
            tbody.component-part__table-body
                form.addnewcompo(id=`${component[0].partName.toLowerCase().split(" ").join("")}form`)
                    tr.component-part__table-row
                        td.component-part__table-item
                            a.component-part__link 
                                button.component-part__btn-add
                                    svg.component-part__add-component-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
                        td.component-part__table-item
                            input.component-part__input-partNo#partNo(type="text", name="partNo" ,placeholder="Input New Part No")
                        td.component-part__table-item
                            input.component-part__input-length#side(type="text", name="side", placeholder="Side")
                        td.component-part__table-item
                            input.component-part__input-length#length(type="text", name="length", placeholder="Length")
                        td.component-part__table-item
                            input.component-part__input-img(type="file" ,id=`compoImg`, accept="image/*")
   
