extends base
block append head

block content
        
    .core-detail 
            ul.core-detail__list
                each core in cores
                    li.core-detail__item
                        a.core-detail__link(href=`/core/${core.slug}`) 
                                .core-detail__info
                                    img.core-detail__img(src= core.img, alt="core")
                                    h1.core-detail__heading= core.model 
                                    ul.core-detail__list-info
                                        li.core-detail__list-info-item 
                                            span=core.partNo
                                        li.core-detail__list-info-item Width: 
                                            span= core.coreProperties.coreWidth
                                        li.core-detail__list-info-item Height: 
                                            span= core.coreProperties.coreHeight
                                        li.core-detail__list-info-item Area: 
                                            span= core.coreProperties.coreArea
                                        li.core-detail__list-info-item-btn   
                                                a.core-detail__link-edit(href=`/updatecore/${core._id}`)  
                                                    button.core-detail__btn-edit
                                                        svg.core-detail__edit-component-icon
                                                            use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil") 
                                                a.core-detail__link-delete(href=`/deletecore/${core._id}`)  
                                                    button.core-detail__btn-delete
                                                        svg.core-detail__edit-component-icon
                                                            use(xlink:href="img/Icon/symbol-defs.svg#icon-cross") 
       
                li.core-detail__item#core-detail__item-link
                    a.core-detail__link(href=`/createcore`)
                        .core-detail__info--addnewCore
                            svg.core-detail__search-icon--newCore
                                use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")  