extends base
block append head

block content

    .content 
        nav.sidebar     
            form.sidebar-form
                input.sidebar-form__search-input#searchText(type="text" placeholder="SEARCH CORE" autofocus) 
                button.sidebar-form__search-button#searchCore 
                    svg.sidebar-form__search-icon   
                        use(xlink:href="img/Icon/symbol-defs.svg#icon-magnifying-glass")
            .sidebar-content
                
                    ul.side-nav
                        each acore in cores     
                            li.side-nav__item.core-list(value=`${acore.partNo}`)
                                //- span= acore.partNo
                                a.side-nav__link#core-list(href=`#${acore._id}` ,value=`${acore._id}`)
                                    span= acore.partNo

        main.qpoint-view  

            //- p= core  
            .qpoint-heading 
                h1.qpoint-heading__head
                    span.qpoint-heading__part-no#qpoint-part-no= cores[0].partNo
                    span.qpoint-heading__pipe  | 
                    span.qpoint-heading__model#qpoint-model= cores[0].model 

            .qpoint-viewer 
                .qpoint-viewer__card#qpoint-render
                    img(src=`${cores[0].qpoint.img}`, alt="qpoint" class="qpoint-viewer__img")
