mixin addform

    .addPartForm 
            .card.box-card(style="width:20rem")
                img.card-img-top(src= "", alt="...")
                
                .card-body
                    h5.card-title            
                        strong= "sdakf;djkls"
                    ul.list-group.list-group-flush 
                        li.list-group-item 
                            span= "core.partNo"
                        li.list-group-item Width (mm.): 
                            span= "core.properties.coreWidth"
                        li.list-group-item Height (mm.) :
                            span= "core.properties.coreHeigh"
                        li.list-group-item Area (m2) : 
                            span= "core.properties.coreArea "
                .card-body 
                    a.btn.btn-dark.btn-lg( href="") Detail
                    

