extends base
block append head

block content
    
    .qpointlist
        each core in cores
            .qpoint-card
                h1.qpoint-card__head= core.model
                ul.qpoint-card__list
                    li.qpoint-card__item
                        img.qpoint-card__img(src= `${core.qpoint.img}`, alt="qpoint")
                    li.qpoint-card__item    
                        ul.qpoint-card__detail-list
                            li.qpoint-card__detail-item Part no.: 
                                span= core.partNo
                            li.qpoint-card__detail-item Issue No: 
                                span= core.qpoint.issue
                        .qpoint-card__button 
                            a.qpoint-card__link-edit(href=`/updateqpoint/${core._id}`)  
                                button.qpoint-card__btn-edit#btn-edit-qpoint
                                    svg.qpoint-card__edit-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil") 
                            //- a.qpoint-card__link-delete(href="#")  
                            //-     button.qpoint-card__btn-delete
                            //-         svg.qpoint-card__edit-icon
                            //-             use(xlink:href="img/Icon/symbol-defs.svg#icon-cross") 
