extends base
block append head

block content
    
    .qpointlist
        each core in cores
            .qpoint-card
                h1.qpoint-card__head= core.model
                ul.qpoint-card__list
                    li.qpoint-card__item
                        img.qpoint-card__img(src= `${core.qpoint.img}`, alt="qpoint")
                    li.qpoint-card__item    
                        ul.qpoint-card__detail-list
                            li.qpoint-card__detail-item Part no.: 
                                span= core.partNo
                            li.qpoint-card__detail-item Issue No: 
                                span= core.qpoint.issue
                        .qpoint-card__button 
                            a.qpoint-card__link-edit(href=`/updateqpoint/${core._id}`)  
                                button.qpoint-card__btn-edit#btn-edit-qpoint
                                    svg.qpoint-card__edit-icon
                                        use(xlink:href="img/Icon/symbol-defs.svg#icon-pencil") 
                            //- a.qpoint-card__link-delete(href="#")  
                            //-     button.qpoint-card__btn-delete
                            //-         svg.qpoint-card__edit-icon
                            //-             use(xlink:href="img/Icon/symbol-defs.svg#icon-cross") 


    

        //- .qpoint-card
        //-     a.qpoint-card__newQpoint-link(href="/updateqpoint")
        //-         .qpoint-card__newQpoint
        //-             svg.qpoint-card__newQpoint-icon
        //-                 use(xlink:href="img/Icon/symbol-defs.svg#icon-plus")
               
    //- .update-qpoint 
    //-     h1.update-qpoint__head Update Q-Point
    //-     form.update-qpoint__form
    //-         .update-qpoint__block
    //-             ul.update-qpoint__list
    //-                 li.update-qpoint__item
    //-                     label.update-qpoint__label-text Issue No. : 
    //-                     input.update-qpoint__input-text(type="text" ,id="q-issue",name="issue")
    //-                 li.update-qpoint__item
    //-                     label.update-qpoint__label-select Model : 
    //-                     select.update-qpoint__select(name="partNo" , id="q-partNo")
    //-                         each core in cores
    //-                             option= core.partNo
    //-                 li.update-qpoint__item
    //-                     label.update-qpoint__label-file Input Image: 
    //-                     input.update-qpoint__input-file(type="file" ,id=`qpoint-file`, accept="image/*") 
    //-                 li.update-qpoint__item
                        button.update-qpoint__btn upload qpoint
        
       
